name: Release

on:
  release:
    types: [published]

env:
  PLUGIN_NAME: japan_elevation

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Create Archive
        run: |
          zip -r ${{ env.PLUGIN_NAME }}-${{ github.event.release.tag_name }}.zip ./${{ env.PLUGIN_NAME }}

      - name: Upload release asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} ${{ env.PLUGIN_NAME }}-${{ github.event.release.tag_name }}.zip
